/* Section Container */
.section {
    padding: 60px 32px;
  }

  /* Left text section */
  .text-section {
    flex: 1;
    padding: 0px 80px;
  }
  
  /* Right section with icon and text rows */
  .icon-text-section {
    flex: 1;
  }
  
  .icon-text-row {
    display: flex;
    align-items: center;
  }

  .icon-text-slat {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 12px;
  }

  @media (max-width: 768px) {

    .text-section {
        padding: 0px;
    }

    .contact {
        flex-direction: column;
        justify-content: center;
    }
  }