.footer {
    display: flex;
    flex-direction: column ;
    text-align: center;
    background-color: #ebebeb;
    color: #1f1f1f; 
    text-align: center;
    padding: 12px;
}

.m-0 {
    margin-bottom: 0px;
}

.text-sm {
    font-size: 14px;
}