.introduction {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #F8F9F8;
    padding: 32px;
}

.intro-text {
    max-width: 40vw;
}

.headshot {
    max-width: 30vw;
    padding: 24px;
}

@media (max-width: 768px) {
    .introduction {
        flex-direction: column;
        justify-content: center;
    }

    .intro-text {
        max-width: 80vw;
    }

    .headshot {
        max-width: 70vw;
        margin: auto;        
    }
}