.introduction {
    min-height: 100vh;
    display: flex;
    flex-direction: row ;
    align-items: center;
    justify-content: space-evenly;
    background-color: #F8F9F8;
    color: #141414;
    padding: 24px;
}

.headshot {
    width: 400px;
    padding: 24px;
}

.introduction button {
    margin-top: 24px;
}

@media (max-width: 1024px) {
    .introduction {
        flex-direction: column;
      }
}

@media (max-width: 768px) {
    .introduction .h1 {
        font-size: 1.8rem;
    }

    .introduction .h2 {
        font-size: 1.3rem;
    }

    .introduction p {
        font-size: 18px;
    }

    .headshot {
        width: 80%;
        text-align: center;
        }
  }