.services {
    padding: 36px 140px 100px;
    display: flex;
    flex-direction: column;
    background-color: #d5dccf;
    color: #141414
}
.cards {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.service-card {
    background-color: #ffffff;
    border-radius: 18px;
    padding: 0 24px 12px;
    width: 280px;
}
