.background-image {
    min-height: 95vh;
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, .4)
    ),
    url("../images/violets-waterfall.jpg");
    background-size: cover;
    color: #F8F9F8;
    background-position: center center;
    width: 100%;
}

.welcome {
  max-width: 1400px;
  min-height: 70vh;
  gap: 0.8rem;
  padding: 32px;
  text-align: right;
}

@media (max-width: 480px) {
  .background-image {
      min-height: 20vh;  
    }
}