.welcome {
    height: 100vh;
    display: flex;
    flex-direction: row ;
    align-items: center;
    justify-content: space-evenly;
    /* background-image: url("./images/");
    background-size: cover; */
}

.headshot {
    width: 300px;
}